.*
!.gitignore

notMNIST.pickle
notMNIST_large.tar.gz
notMNIST_large/
notMNIST_small.tar.gz
notMNIST_small/
notMNIST-exclude-dup.pickle
notMNIST-exclude-nearly-dup.pickle
LogisticRegression.pickle
text8.zip
